.newsletter {
    padding-top: 100px;

    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/newsletter/bg.jpg");
    background-color: #F2F4F6;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mediaBg{
        background-image: url("./../img/newsletter/bg@2x.jpg");
    }

    @include tablet{
        background-image: none;
    }

    @include mobile{
        height: auto; 
        padding: 95px 0px;
    }

}
.newsletter__content {
    flex-grow: 1;
    max-width: 552px;

    padding: 0 var(--container-padding);

    text-align: center;
}

.newsletter__title {
    margin-bottom: 8;

    @include mobile {
        font-size: 28px !important;
    }

}
.newsletter__desc {
    margin-bottom: 32px;

    font-size: 18px;
    line-height: 1.666;
    color: #121212;

    @include mobile {
        font-size: 14px;
    }
}

.form-newsletter {
    border-bottom: 1px solid rgba(108, 114, 117, 0.5);

    padding-bottom: 12px;

    display: flex;
    gap: 8px;
}
.form-newsletter__imput {
    flex-grow: 1;

    color: #000;

    &::placeholder{
        color: #6C7275;
    }
}
.form-newsletter__submit {
    color: #6C7275;
    transition: all 0.2s ease-in;

    &:hover{
        color: #121212;
    }
}